.contact-bg {
  text-align: center;
  position: absolute;
  height: 790px;
  line-height: 5;
  position: relative;
  top: -160px;
  padding: 170px 15px 15px 15px;
}
.contact-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #254166;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.contact-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../../public/images/contact-bg.png) right no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
}
.contact-bg h1 {
  font-size: 200px;
  font-weight: 700;
  line-height: 1;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #888;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: -3px;
}
.contact-bg h4 {
  color: #f73100;
  font-size: 70px;
}
.contact-form {
  width: 100%;
  position: relative;
  z-index: 10;
}
.contact-form .form-wrapper {
  background-color: #f7f7f7;
  width: 100%;
  padding: 50px 0;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact-form .user-info-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-form .user-info-inputs div {
  width: 45%;
  margin: 10px;
}
.contact-form .user-message-input {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-form .user-message-input div {
  width: 90%;
}
.contact-form input {
  border: 0;
  padding: 20px;
  font-size: 18px;
  width: 100%;
}
.contact-form input::placeholder {
  color: #b4b4b4;
}
.contact-form textarea {
  border: 0;
  resize: vertical;
  padding: 20px;
  width: 324px;
  font-size: 18px;
  outline: none;
  margin-top: 10px;
  width: 100%;
}
.contact-form textarea::placeholder {
  color: #b4b4b4;
}
.contact-form .send-message-btn input {
  background-image: linear-gradient(
    to right,
    #ff5600 0%,
    #ffa705 100%,
    #ff5600 100%
  );
  color: #fff;
  margin-top: 20px;
  border-radius: 35px;
  width: 200px;
}
.contact-form .send-message-btn input:hover {
  background-image: linear-gradient(
    to right,
    #ff5600 0%,
    #ffa705 0%,
    #ff5600 100%
  );
}
.location-box {
  text-align: center;
  position: relative;
  top: -100px;
  z-index: 0;
}
.location-box iframe {
  width: 100%;
  border: 0;
  height: 800px;
}
.branches {
  position: relative;
  top: -220px;
}
.branches .branches-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.branches .branch-item {
  width: 350px;
  margin: 20px;
}

.branches .branch-header {
  font-size: 20px;
  font-weight: 700;
  padding: 50px;
  color: #fff;
  text-align: center;
}
.branches .branch-body {
  padding: 20px;
  background-color: #eee;
}
.branches .branch-body li {
  margin-top: 15px;
}
.branches .branch-body i {
  display: inline-block;
  transform: translateY(2px);
  margin: 0 10px;
  font-size: 20px;
  color: #ff5500bd;
}
@media screen and (max-width: 1100px) {
  .contact-bg h1 {
    font-size: 150px;
  }
}

@media screen and (max-width: 768px) {
  .contact-form .user-info-inputs div {
    width: 90%;
    margin: 10px;
  }
}

@media screen and (max-width: 576px) {
  .contact-bg h1 {
    font-size: 110px;
  }
  .contact-bg h4 {
    font-size: 50px;
  }
}
